version-4.1/Fuente/AgesicFirmaApplet/src/wsdl/localhost_8080/AgesicFirmaWS/AgesicFirma.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.firma.agesic.gub.uy/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.firma.agesic.gub.uy/">

<xs:element name="comunicarDocumentos" type="tns:comunicarDocumentos" />

<xs:element name="comunicarDocumentosResponse" type="tns:comunicarDocumentosResponse" />

<xs:element name="obtenerDocumentos" type="tns:obtenerDocumentos" />

<xs:element name="obtenerDocumentosResponse" type="tns:obtenerDocumentosResponse" />

<xs:complexType name="comunicarDocumentos">
<xs:sequence>
<xs:element name="id_transaccion" type="xs:string" form="qualified" minOccurs="0" />
<xs:element name="documentos" type="xs:base64Binary" form="qualified" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="certificate" type="xs:base64Binary" form="qualified" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="comunicarDocumentosResponse">
<xs:sequence>
<xs:element name="respuesta" type="tns:resultadoValidacion" form="qualified" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="resultadoValidacion">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="docIndex" type="xs:int" minOccurs="0" />
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDocumentos">
<xs:sequence>
<xs:element name="id_transaccion" type="xs:string" form="qualified" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDocumentosResponse">
<xs:sequence>
<xs:element name="respuesta" type="xs:base64Binary" form="qualified" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>